$$head
$$body
$nosub
$$$$escaped
$${long}s
$$foot
$nosub
$$head.ctx1
$${foot.ctx1}s
$$cmdline
$$full.ctx1

$$__OUT__
$$__FILE__
$$__TEMPLATE__
$$__DICTS__
$$__FILES__
$$__CMD__
$$__DATE__
$$__TE__
$$__TE_MAJOR__
$$__TE_MINOR__
$$__TEVER__
